body{
    background-color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    text-decoration: none;
    color: grey;
}

h3, p {
    margin: 0;
}

#top-nav-bar{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#left-nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

#youtube-logo{
    height: 25px;
    margin-left: 10px;
}

#search-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search-bar-container{
    background-color: white;
    height: 38px;
    display: flex;
    align-items: center;
    border-radius: 3px 0px 0px 3px;
    padding: 0px;
    border: 1px grey solid;
    border-right: none;
}

#search-input{
    width: 450px;
    border: none;
    padding-left: 1rem;
}

#submit{
    width: 64px;
    height: 40px;
    margin: 0;
    border-radius: 0px 3px 3px 0px;
    border: 1px grey solid;
}

form{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#voice-search-area{
    background-color: whitesmoke;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rigth-nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}

#sign-in-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: blue 1px solid;
    border-radius: 3px;
    padding: 0.5rem;
    margin: 0.2rem;
    color: blue;
}

.material-icons{
    margin: 0px 0.2rem 0px 0.2rem;
}

#main-body{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: space-between;
    position: relative;
    top: 40px;
}

#player-body{
    display: flex;
    flex-direction: column;
    flex: 4 4 auto;
    margin: 20px 10px 0px 60px;
    border: none;
}

#video{
    align-self: stretch;
    width: 100%;
    height: 400px;
    border: none;
}

#name-tag{
    display: flex;
    flex-direction: column;    
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

#statistics{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#views{
    font-size: small;
}

#buttons{
    display: flex;
    flex-direction: row;
}

.action-buttons{
    margin-left: 10px;
    margin-right: 10px;
    font-size: large;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#buttons a{
    color: black;
}

.action-buttons span{
    margin-right: 10px;
}

#info-area{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

.info-element:first-child{
    margin-right: 10px;
}

#profile-pic{
    height: 48px;
    width: 48px;
    border: none;
    border-radius: 50%;
}

#video-info p{
    margin-bottom: 10px;
}

.info-element:last-child{
    margin-left: 10px;
}

#subscribe-button{
    color: white;
    background-color: red;
    border-radius: 5px;
    border: none;
    padding: 10px 20px 10px 20px;
    font-size: medium;
    font-weight: 800;
}

#suggested-videos{
    margin: 20px 60px 0px 10px;
    flex: 5 5 auto;
}

.gray-text{
    color: grey;
    font-size: small;
    font-weight: lighter;
}

#comments-area{
    display: flex;
    flex-direction: column;
}

#comment-header{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

#comment-sorter a{
    margin-left: 20px;
    color: black;
    display: flex;
    align-items: center;
}

#new-comment{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: stretch;
    margin-bottom: 10px;
}

.comment-pic{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    margin-right: 20px;
}

.comment-text{
    width: 100%;
}

#new-comment p{
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

.user-comment{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.user-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0px 10px 0px;
}

.user-info h5{
    margin: 0;
}

.user-info span{
    margin-left: 10px;
}

.comment-action-buttons{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

input:focus {
    outline:none;
}

#suggested-videos{
    width: 1000px;
}

.video-cover-pic{
    width: 200px;
    height: 100px;
    margin-right: 5px;
}

.video-thumbnail{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    background-color: whitesmoke;
}

.video-name{
    margin-top: 3px;
    margin-bottom: 5px;
}